[run]
source = 
    app
    P:/github.com/michaelsanford/Folio/backend/app
branch = True
omit =
    tests/*
    .venv/*
    venv/*
    */site-packages/*

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    def __repr__
    if TYPE_CHECKING:
    raise NotImplementedError
    if __name__ == .__main__.:
