[run]
source = app
branch = True
omit =
    tests/*
    .venv/*
    venv/*

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    def __repr__
    if TYPE_CHECKING:
    raise NotImplementedError
    if __name__ == .__main__.:
